<footer id="footer">
      <div class="container">
        <div class="social-links mb-3 text-center">
          <a href="https://www.linkedin.com/in/pao-hua-chien/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/kateviajar" target="_blank" class="github"><i class='bx bxl-github'></i></a>
          <a href="https://public.tableau.com/app/profile/pao.hua.chien" target="_blank" class="analyse"><i class='bx bx-analyse'></i></a>
        </div>
      </div>
    </footer>