<header id="header">
      <div class="d-flex flex-column">
        <div class="profile">
          <img src="/images/Profile2.png" alt="photo" class="img-fluid rounded-circle">
          <h1 class="text-light">Pao-Hua Chien</h1>
          <div class="location mt-3 text-center">
            <i class='bx bxs-map'></i>
            <span>Ontario, Canada</span>
          </div>
        </div>

        <nav id="navbar" class="nav-menu navbar">
          <ul>
            <li><a href="/" class="nav-link" id="nav-">
              <i class="bx bx-home"></i>
              <span>Home</span>
            </a></li>
            <li><a href="/about" class="nav-link" id="nav-about">
              <i class='bx bx-user'></i>
              <span>About</span>
            </a></li>
            <li><a href="/project" class="nav-link" id="nav-project">
              <i class='bx bx-folder'></i>
              <span>Project</span>
            </a></li>
            <li><a href="/contact" class="nav-link" id="nav-contact">
              <i class='bx bx-envelope' ></i>
              <span>Contact</span>
            </a></li>
          </ul>
        </nav>
      </div>
    </header>