<section id="home" class="d-flex flex-column justify-content-center align-items-center">
    <div data-aos="fade-up" data-aos-duration="2000">
        <h1>{{ name }}</h1>
        <p>Hello! I'm a <span>coding fanatic, proactive learner, and problem solver</span></p>
        <p>Find out more about me.</p>
    </div>
</section>